
$background-dark: #512DA8;

// apply the css too the login button:
.background-primary {
    background-color: $background-dark!important;
  }

  .text-floral-white {
    color: floralwhite!important;
}