
$background-dark: #512DA8;

.background-primary {
    background-color: $background-dark!important;
  }

.text-floral-white {
    color: floralwhite!important;
}

.full-width {
    width: 95%
}

.half-width {
    width: 45%
}

.form-size {
    width: 75%
}
