<!-- we will Use Flex-Layout -->
<!-- fxLayout or fxLayoutGap it is the property of flex-layout -->
<div class="container" fxLayout="column" fxLayoutGap="10px">

  <!-- create another div -->
  <!-- create a title for our Menu: -->
  <div fxFlex>
    <div>
      <h3>Menu</h3>
      <hr>
    </div>
  </div>

  <!-- add *ngIf=dishes: if first div delay in loading then show second div,
       and when the first div is load then show first div:-->
  <div fxFlex *ngIf="dishes">
    <!-- Use Angular Material Layout -->
    <!-- fxFlex is a property of flex-layout -->
    <mat-grid-list cols="2" rowHeight="200px">

      <mat-grid-tile *ngFor="let dish of dishes" [routerLink]="['/dishdetail', dish.id]" appHighlight>

            <!-- use BaseURL too get the image: -->
            <img height="200px" src="{{BaseURL + dish.image}}" alt="{{dish.name}}">

            <mat-grid-tile-footer>

              <!-- use pipe too trasform text in uppercase: -->
              <h1>{{dish.name | uppercase}}</h1>

            </mat-grid-tile-footer>

      </mat-grid-tile>
    </mat-grid-list>

  </div>

  <!-- add [hidden]="dishes": if first div delay in loading then show second div,
       and when the first div is load then show first div:-->

  <div [hidden]="dishes || errMess">
    <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
  </div>
  <div fxFlex *ngIf="errMess">
    <h2>Error</h2>
    <h4>{{errMess}}</h4>

  </div>
</div>
